django>=3.1.2,<3.3
djangorestframework>=3.12,<3.13
markdown>=3.2,<3.3
django-filter>=2.4,<2.5
django-cors-headers>=3.5,<3.6
django-userforeignkey>=0.3,<0.4
git+https://github.com/nezhar/django-rest-multiauthtoken@drf312
django-rest-registration>=0.5.3,<0.6
django-rest-passwordreset>=1.1,<1.2